pyyaml
aiohttp
nest_asyncio
lxml
aiodns
requests
scrapy
celery
redis
psycopg2-binary
SQLAlchemy
boto3
fake_useragent
beautifulsoup4
python-dotenv
camoufox>=0.4.10
browserforge>=1.2.0
curl_cffi
brotlicffi
httpx[http2]
pillow
geoip2
maxminddb
selenium==4.25.0 